//头部
header{
	width: 100%;
	height: 2.2rem;
	background: #1d89f7;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.H-top-title{
    width: 100%;
    height: 0.4rem;
    background: red;
}
@mixin lr($top,$width,$height){
    position: absolute;
    top: 50%;
    width: $width;
    height: $height;
    margin-top: -#{$top}*100%;
}
@mixin bg-image($url,$size){
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}
.H-top-box-1{
    width: 100%;
    height: 1.1rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.H-head-img{
    @include bg-image("../img/H-img/head/H-head-1.png",1.01rem)
    width: 1.01rem;
    height: 1.08rem;
    margin-left: 0.24rem;
    float: left;
}

.H-head-book{
    @include bg-image('../img/H-img/head/H-head-2.png',0.52rem)
    width:0.52rem;
    height: 0.52rem;
    float: left;
    margin-left: 0.2rem;
    margin-top:0.245rem;
}
.H-head-text-box{
    height: 0.58rem;
    width: 1.11rem;
    position: absolute;
    left: 50%;
    top: 0.26rem;
    margin-left: -0.555rem;
}
.H-head-text{
    width: 1.1rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    margin-top:0.01rem ;
    padding: {
        left: 0.1rem;
        right: 0.1rem;
    };
}
.H-head-text-logo{
    @include bg-image('../img/H-img/head/H-logo.png',0.88rem)
    height: 0.26rem;
    width: 0.88rem;
    margin-left: 0.14rem;
}
.H-head-dian-1{
    width: 0.14rem;
    height: 0.06rem;
    @include bg-image('../img/H-img/head/H-dian-1.png',0.14rem)
    float: left;
    margin-top: 0.1rem;
}
.H-head-dian-2{
    @extend .H-head-dian-1;
    @include bg-image('../img/H-img/head/H-dian-2.png',0.14rem)
}
.H-head-text-title{
    float: left;
    font-size: 0.3rem;
    font-family: '微软雅黑';
    width: 0.6rem;
    height: 0.3rem;
    margin:{
        left: 0.04rem;
        right: 0.04rem;
    }
    color:#fff;
}
.H-head-list{
    @include bg-image('../img/H-img/head/H-head-3.png',0.56rem);
    width: 0.56rem;
    height: 0.56rem;
    float: right;
    margin:{
        top: 0.245rem;
        right: 0.16rem;
    }
}
.H-head-paly{
    @extend .H-head-list;
    @include bg-image('../img/H-img/head/H-head-4.png',0.56rem);
}
.H-top-box-2{
    width: 100%;
    height: 0.7rem;
    
}
.H-top-main-1{
    @include bg-image('../img/H-img/head/H-top-box.png',2.9rem);
    width: 2.9rem;
    height: 0.62rem;
    float:left ;
    margin: {
        left: 2.3rem;
    };
}
.H-top-main-text-1{
    @include bg-image('../img/H-img/head/H-head-5.png',1.3rem);
    width:1.3rem;
    height: 0.5rem;
    float: left;
    margin: {
        left: 0.08rem;
        top: 0.06rem;
    };
}
.H-top-main-text-2{
    @include bg-image('../img/H-img/head/H-head-6.png',0.93rem)
    width: 0.93rem;
    height: 0.5rem;
    margin: {
        top: 0.06rem;
        right: 0.3rem;
    };
    float:right;    
}
//底部
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: #FFFFFF;
}
@mixin bot{
    width: 1.2rem;
    height: 100%;
    float: left;
}
.H-bottom-1{
    @include bot;
    @include bg-image('../img/H-img/head/H-main-1.png',0.62rem)
    margin-left: 0.4rem;
}
.H-bottom-2{
    @include bot;
    @include bg-image('../img/H-img/head/H-main-2.png',0.51rem)
}
.H-bottom-3{
    @include bot;
    @include bg-image('../img/H-img/head/H-main-3.png',0.62rem)
}
.H-bottom-4{
    @include bot;
    @include bg-image('../img/H-img/head/H-main-4.png',0.45rem)
}
.H-bottom-line{
    width: 0.7rem;
    float: left;
    height: 100%;
    @include bg-image('../img/H-img/head/H-main-line.png',0.01rem)
    background-position: center center;
    background-repeat: no-repeat;
}
//banner开始
.H-main-banner{
    height: 5.5rem;
    background: #1D89F7;
    @include bg-image('../img/H-img/head/H-main-bg-1.png',7.5rem)
    
}
