* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	background: #F2F2F2;
}


/*header*/

header {
	width: 100%;
	height: 2.2rem;
	background: #1D89F7;
	text-align: center;
	position: relative;
}

.X-header-top {
	width: 100%;
	height: 0.4rem;
	display: block;
}

.X-header-left {
	width: 0.64rem;
	width: 0.64rem;
	float: left;
	margin-top: 0.4rem;
	margin-left: 0.24rem;
}

.X-header-right {
	width: 0.64rem;
	width: 0.64rem;
	float: right;
	margin-top: 0.4rem;
	margin-right: 0.24rem;
}

.X-header-medium {
	width: 7rem;
	height: 0.24rem;
	position: absolute;
	left: -0.1rem;
	right: 0;
	top: 1.3rem;
	margin: auto;
}

.X-header-medium-two {
	width: 1.2rem;
	height: 0.36rem;
	position: absolute;
	left: -0.1rem;
	right: 0;
	top: 1rem;
	margin: auto;
}

.X-shop {
	font-size: 18px;
	color: #FFF;
}

.W-box {
	width: auto;
	height: 3.3rem;
	/*background: pink;*/
	margin: 0 0.24rem;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 1.9rem;
}

.W-tiao {
	width: 100%;
	height: 1rem;
	margin-bottom: 0.12rem;
	border-radius: 0.11rem;
	background: #fff;
	box-shadow: 0 0.05rem 0.15rem 0 #D6D6D6;
}

.W-img1 {
	width: 0.7rem;
	float: left;
	margin-top: 0.2rem;
	/*box-shadow:   3px 0 3px 0 #DEDEDE;*/
}

.W-fontbox {
	width: 5.8rem;
	height: 1rem;
	float: left;
}

.W-font1 {
	width: auto;
	height: auto;
}

.W-font1>p {
	font-size: 0.2rem;
	margin-top: 0.15rem;
	margin-bottom: 0;
	color: #666666;
}

.W-dian {
	width: 4.6rem;
	margin-top: -0.04rem;
	display: block;
}

.W-font2 {
	width: auto;
	height: auto;
	margin-top: -0.04rem;
}

.W-font2>p {
	font-size: 0.12rem;
	color: #979797;
}

.W-img2 {
	width: 0.28rem;
	float: left;
	margin-top: 0.35rem;
	margin-right: 0.2rem;
}


/*三个条结束*/

.W-calltop {
	height: 1.34rem;
	width: 100%;
	/*background: red;*/
	text-align: center;
	position: absolute;
	top: 5.17rem;
	left: 0;
}

.W-calltop>div.W-fontone {
	height: 0.3rem;
	padding-top: 0.48rem;
	font-size: 0.18rem;
	color: #7B7B7B;
	margin-left: 3.16rem;
}

.W-calltop>div.W-fontone>p {
	float: left;
}

.W-calltop>div.W-fontone>span {
	display: block;
	color: #FFA750rem;
	font-size: 0.3;
	float: left;
	line-height: 0.32rem;
}

.W-calltop>div.W-fonttwo {
	height: 0.33rem;
	text-align: center;
	margin: 0 30%;
	color: #8AC6F6;
}

.W-calltop>div.W-fonttwo>span {
	/*margin-top: -0.2rem;*/
	font-size: 0.18rem;
	font-weight: 200;
	display: block;
	float: left;
}

.W-calltop>div.W-fonttwo>span.cu {
	font-weight: 700;
}

.W-calltop>img {
	height: 0.25rem;
	margin: 0 auto;
	display: block;
	/*margin-top: -0.05rem;*/
	/*margin-right: 50%;*/
}

.H-search-box {
	width: 7.02rem;
	height: 0.49rem;
	border-radius: 0.3rem;
	background: #FFFFFF;
	margin: 0 auto;
	position: relative;
	left: 0;
	top: 4.5rem;
	padding-top: 0.11rem;
}


/*搜索条*/

#H-search {
	position: absolute;
	display: block;
	width: 5.3rem;
	height: 0.36rem;
	top: 0.11rem;
	left: 0.7rem;
	border: none;
}

.H-search-icon {
	position: absolute;
	width: 0.36rem;
	height: 0.36rem;
	top: 0.11rem;
	left: 0.34rem;
}

.H-search-dian {
	background: url(../img/H-img/H-main-dian.png);
	background-size: 0.23rem;
	width: 0.23rem;
	height: 0.6rem;
	position: absolute;
	top: 0;
	left: 0.04rem;
}

.H-search-yy {
	background: url(../img/H-img/H-yy.png);
	background-size: 0.7rem;
	width: 0.7rem;
	height: 0.36rem;
	position: absolute;
	right: 0.2rem;
	top: 0.11rem;
}


/*下列表*/

.W-call-list {
	position: absolute;
	left: 0;
	top: 8.5rem;
	height: auto;
	width: 100%;
	/*background:pink;*/
}
.W-call-list>li{
	width: 100%;
	height: 1.3rem;
	position: relative;
	top:0;
	left: 0;
	
	
}
.W-call-list>li>div.W-call-neibubox {
	width: 100%;
	background-size: 100%;
	height: 1.3rem;
	overflow: hidden;
}

.W-call-list>li.W-call-li1>div.W-call-neibubox{
	background-image: url(../img/W-img/W-friendcall-1.png);
}

.W-call-list>li.W-call-li2>div.W-call-neibubox {
	background-image: url(../img/W-img/W-friendcall-2.png);
}

.W-call-list>li.W-call-li3>div.W-call-neibubox {
	background-image: url(../img/W-img/W-friendcall-1.png);
}

.W-call-list>li.W-call-li4>div.W-call-neibubox{
	background-image: url(../img/W-img/W-friendcall-3.png);
}

.W-call-list>li.W-call-li5>div.W-call-neibubox {
	background-image: url(../img/W-img/W-friendcall-4.png);
}

.W-call-list>li>div.W-call-neibubox>img {
	width: 100%;
}

.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox{
	height: 1.1rem;
	width:4.32rem;
	margin-left: 1.7rem;
	margin-top: 0.04rem;
	float: left;
	/*background: gold;*/
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font1{
	height:0.5rem;
	width:100%;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font1>span {
	height: 0.33rem;
	width:auto;
	font-size: 0.16rem;
	margin-top: 0.17rem;
	color:#2D2626;
	display: block;
	float: left;
}

.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font1>span.W-call-span1{
	font-weight: 700;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font1>span.W-call-span2{
	font-weight: 200;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font1>img{
	float: left;
	height: 0.33rem;
	margin-top: 0.17rem;
	margin-left: 0.2rem;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>p{
	width:auto;
	height:0.3rem;
	font-size: 0.2rem;
	color: #817E7E;
	letter-spacing:0.01rem;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font2{
	height:0.5rem;
	width:100%;

}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font2>img{
	width:0.16rem;
	float: left;
	margin-top: 0.1rem;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font2>span{
	height: 0.33rem;
	width:auto;
	font-size: 0.18rem;
	margin-top: 0.05rem;
	margin-left: 0.1rem;
	color: #2D2626;
	display: block;
	float: left;

}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font2>span.W-call-span1{
	color: #ADADAD;
}
.W-call-list>li>div.W-call-neibubox>div.W-call-fontbox>div.W-call-font2>span.W-call-span2{
	color: #BEBEBE;	
}
.W-call-list>li>div.W-call-neibubox>a.W-call-message{
	width:0.31rem;
	height:1.16rem;
	/*background: red;*/
	display: block;
	float:right;
	margin-right: 0.63rem;
/*	margin-bottom: 0.63rem;*/
	
 
}
.W-call-list>li>div.W-call-neibubox>a.W-call-message>img{
	height:0.31rem;
	margin-top: 0.45rem;
	display: block;

}
/*//效果左移css第n个tupian*/
.W-call-list>li:nth-child(2){
	margin-left:-2rem ;
	
}

.W-call-list>li>.W-call-display{
		position: absolute;
		top:2rem;
		right:1rem;
		position: absolute;
		right:-1.6rem;
		top:0.25rem;
		/*display: none;*/
}
.W-call-list>li>.W-call-display>img{
	width:0.75rem;
	float: left;
	
	
}
