html{
	font-size:50px;
}
body{
	background:#F2F2F2;
	font-weight:normal;
}



/*header*/
header{
	width:100%;
	height:2.2rem;
	background:#1D89F7;
	text-align:center;
	position:relative;
}
.X-header-top{
	width:100%;
	height:0.4rem;
	display:block;
}
.X-header-left{
	width:0.64rem;
	width:0.64rem;
	float:left;
	margin-top:0.4rem;
	margin-left:0.24rem;
}
.X-header-right{
	width:0.64rem;
	width:0.64rem;
	float:right;
	margin-top:0.4rem;
	margin-right:0.24rem;
}
.X-header-medium{
	width:7rem;
	height:0.24rem;
	position:absolute;
	left:-0.1rem;
	right:0;
	top:1.3rem;
	margin:auto;
}
.X-header-medium-two{
	width:1.2rem;
	height:0.36rem;
	position:absolute;
	left:-0.1rem;
	right:0;
	top:1rem;
	margin:auto;
}
.X-shop{
	font-size:18px;
	color:#FFF;
}




/*X-first*/
.X-first{
	width:100%;
	height:6.5rem;
	overflow:hidden;
}
.X-first ul{
	width:100%;
	height:auto;
	overflow:hidden;
	position:absolute;
	left:0;
	top:1.9rem;
}

.X-first ul li{
	width:7.05rem;
	height:1.5rem;
	background:#FFF;
	margin:0 auto;
	margin-bottom:0.2rem;
	border-radius:0.2rem;
	font-size:0.12rem;
	position:relative;
}
.X-first .X-first-med{
	float:left;
	width:3.6rem;
	height:1.32rem;
	margin-top:0.2rem;
}
.X-first ul li .X-one{
	width:1.07rem;
	height:1.32rem;
	margin-left:0.5rem;
	margin-top:0.1rem;
	float:left;
	
}		
.X-first ul li .X-pone{
	width:3.6rem;
	height:0.2rem;
	float:left;
	margin-left:0.2rem;
}
.X-first ul li .X-pone > a:nth-child(1){
	font-size:0.3rem;
	color:#344047;
	font-weight:bold;
	
}
.X-first ul li .X-pone > a:nth-child(2){
	font-size:0.12rem;
	color:#3CABF9;
	font-weight:bold;
}
.X-first ul li .X-pone > a:nth-child(3){
	font-size:0.25rem;
	color:#3CABF9;
}
.X-first ul li .X-ptwo{
	font-size:0.12rem;
	width:3.6rem;
	height:0.2rem;
	float:left;
	color:#686464;
	margin-top:0.3rem;
	margin-left:0.2rem;
}

.X-first ul li .X-pthree{
	width:3.6rem;
	height:0.2rem;
	float:left;
	margin-left:0.2rem;
}
.X-first ul li .X-pthree .X-two{
	width:1.57rem;
	height:0.38rem;
	margin-top:0.1rem;
	margin-right:0.4rem;
	float:left;
}
.X-first ul li .X-pthree .X-three{
	width:0.3rem;
	height:0.3rem;
	float:left;
	margin-top:0.15rem;
}

.X-pfour{
	position:absolute;
	right:0.5rem;
	top:0.2rem;
}
.X-pfour h5{
	font-size:0.3rem;
	color:#3AF4E9;
}
.X-pfour h6{
	font-size:0.12rem;
	color:#3AF4E9;
}





/*X-second*/

.X-second div{
	width:100%;
	height:0.3rem;
	margin-bottom:0.2rem;
}
.X-second div:nth-child(1){
	width:100%;
	height:0.3rem;
	margin-top:0.45rem;
	color:#989FA8;
}
.X-second div:nth-child(2){
	width:100%;
	height:0.5rem;
	color:#3AF4E9;
}


.X-second div:nth-child(3){
	width:100%;
	height:0.3rem;
}




.X-second div:nth-child(1) span{
	float:right;
	font-size:0.12rem;
	margin-right:0.24rem;
}

.X-second div:nth-child(2) span{
	float:right;
	font-size:0.12rem;
}
.X-second div:nth-child(2) span:nth-child(1){
	font-size:0.5rem;
	margin-right:0.24rem;
}
.X-second div:nth-child(2) span:nth-child(2){
	margin-top:0.25rem;
	margin-right:0.1rem;
}

.X-second div:nth-child(3) span{
	float:right;
	font-size:0.12rem;
}
.X-second div:nth-child(3) span:nth-child(1){
	color:#3AF4E9;
	font-size:0.3rem;
	margin-right:0.24rem;
}
.X-second div:nth-child(3) span:nth-child(2){
	color:#7E8691;
	margin-right:0.1rem;
}



/*footer*/
.X-footer{
	display:block;
	width:3.8rem;
	height:1.4rem;
	margin: 0 auto;
	margin-top:0.65rem;
}

